node_modules/
scripts/*.js
!scripts/release.js
scripts/*.js.map
scripts/*.d.ts
*.log
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/dorman-lakelys-npc-generator.lock
